table, tr, td {
    border: 1px solid black;
  }
.game-board{
    width: 400px;
    height: 400px;
    margin: auto;  
}
td{
    text-align: center;
    width: 100px;
    height: 100px;
}
/* td:hover{
    background-color: rgb(153, 207, 146,0.1);
} */
